[Desktop Entry]
Name=Beleriand (SDL2)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=beleriand -msdl2
TryExec=beleriand
Icon=beleriand
Categories=Game;RolePlaying;
