[Desktop Entry]
Name=NarSil (SDL2)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=sh -c "if [ \\$XDG_SESSION_TYPE == \"wayland\" ]; then env SDL_VIDEODRIVER=wayland narsil -msdl2; else narsil -msdl2; fi"
TryExec=narsil
Icon=narsil
Categories=Game;RolePlaying;
