[Desktop Entry]
Name=NarSil (SDL)
Type=Application
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Exec=narsil -msdl
TryExec=narsil
Icon=narsil
Categories=Game;RolePlaying;
